# IDE Noise
.idea

.idea/
# db evnironment information Info
.env
# OS Noise
.DS_Store
# ignore any word documaents

.docx
# ignore the parameters that are defined in the local .env file, such as 
# change the database parameters in the .env.example file to match with your database configuration

.env
__pycache__
.ipynb_checkpoints
.vscode

core_ML_jupyter_notebook/*
tableau_pdf_files/
