<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Stephen Wang">
    <meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <title>Credit Card Default Prediction Model</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- template CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">
		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
    <!-- custom main style css -->
    <link href='css/mainstyle.css' rel='stylesheet'>
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="/presentation?transition=concave">Presentation Mode</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#description">Description</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#variables">Variables</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#datavisualization">Data Visualization</a>
          </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#mlmodels">ML Models</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="#prediction">Prediction</a>
          </li>        
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="#team">Team</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1">Credit Card Default Prediction</h1>
        <h3 class="mb-5">
          <em>Machine Learning Neutral Network Model</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#description">Get Started</a>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- Project Description -->
    <section class="content-section bg-light" id="description">
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2>Based on the 24 variables, we create a neutral network to predict a customer's default likehood.</h2>
            <p class="lead mb-5">Our team collects information from more than 30,000 customers.
              </p>
            <a class="btn btn-dark btn-xl js-scroll-trigger" href="#variables">Next</a>
          </div>
        </div>
      </div>
    </section>


    <!-- <section class="content-section bg-primary text-secondary" id="datavisualization">
        <div class="container text-center my-auto">
          <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Data Visualization Placeholder</h3>
            <h2 class="mb-5">How the dataset looks like</h2>
          </div>
        </div>
      </section> -->

<!-- Variables in the dataset -->
<section class="content-section bg-primary text-white text-center" id="variables">
    <div class="container text-center">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Look at the dataset</h3>
        <h2 class="mb-5">How the dataset looks like</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Age</strong>
          </h4>
          <p class="text-faded mb-0">Customer's age</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Gender</strong>
          </h4>
          <p class="text-faded mb-0">whether a customer is a female or male.</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Credit Card Limit Balance</strong>
          </h4>
          <p class="text-faded mb-0">The maximum amount of the cutomer's credit crad line
            <i class="fas fa-dollar-sign"></i>
          </p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Education Level</strong>
          </h4>
          <p class="text-faded mb-0">the highest Education a customer receives</p>
        </div>
        <div class="col-lg-3 col-md-6">
            <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
            <h4>
              <strong>Billing and Payment Amounts</strong>
            </h4>
            <p class="text-faded mb-0">We collect Billing and Payment amount for the last 6 months</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
              <i class="icon-mustache"></i>
            </span>
            <h4>
              <strong>Other Variables</strong>
            </h4>
            <p class="text-faded mb-0">last 6 month payment past due status</p>
        </div>
      </div>
     <br/>
    </div>

  </section>

    <!-- Callout -->
    <section class="callout" id="datavisualization">
      <div class="container text-center">
          <h2 class="mx-auto mb-5">How Dataset
              <em>looks</em>
             like</h2>
          <!-- <a  class ='btn btn-primary btn-xl js-scroll-trigger' href='/visuals' >See visualization charts</a>  -->
          
        <!-- <h2 class="mx-auto mb-5">Welcome to
          <em>your</em>
          next website!</h2>
        <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a> -->
        <br/>
        <a  class ='btn btn-primary btn-xl ' href='/visuals' >See visualization charts</a> 
      </div>
      
    </section>

 


    <!-- Portfolio -->
    <section class="content-section" id="mlmodels">
      <div class="container">
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">Machine Learning</h3>
          <h2 class="mb-5">Train our data</h2>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6">
            <a class="portfolio-item" href="#portfolio" data-toggle="modal" data-target="#model_step_1">
              <span class="caption">
                <span class="caption-content">
                  <h1>Step 1: Regression Models</h1>
                  <p class="mb-0">we choose 4 regression models to train the dataset <i class="fas fa-table"></i></p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-1.jpg" alt="">
            </a> 
          </div>
          <!-- models_step_1 -->
          <div class="modal fade" id="model_step_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                  <!--Content-->
                  <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                          <h2 class="modal-title">4 Regression Models we choose</h2>
                      </div>
                      <!--Body-->
                      <div class="modal-body">
                          <div class="list-group">
                              <a class="list-group-item list-group-item-action active">
                                Logistic Regression Model
                              </a>
                              <a class="list-group-item list-group-item-action">Class Tree  Model</a>
                              <a class="list-group-item list-group-item-action">Random Forest Model</a>
                              <a href="#" class="list-group-item list-group-item-action">Naive Bayes Model</a>    
                          </div>
                      </div>    
                  </div>
                  <!--/.Content-->
              </div>
          </div>
          <!-- end of model_step_1-->

          <div class="col-lg-6">
            <a class="portfolio-item" href="#portfolio" data-toggle="modal" data-target="#model_step_2">
              <span class="caption">
                <span class="caption-content">
                  <h1>Step 2: Confusion Matrixes</h1>
                  <p class="mb-0">List out 2 confusion Matrixes and evaluate the accuracy</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-2.jpg" alt="">
            </a>
          </div>
          <!-- models_step_2s -->
          <div class="modal fade" id="model_step_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                          <h2 class="modal-title ">Confusion Matrixes</h2>
                      </div>
                      <!--Body-->
                      <div class="modal-body">
                          <h5 class='mb-3'>Linear Regression Model</h5>
                          <div class="table-responsive-sm">
                              <table class="table table-sm">
                                  <thead>
                                    <tr>
                                      <th>Prediction/Acutal</th>
                                      <th>non-default</th>
                                      <th>default</th>
                                      <th>Total</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th>non-default</th>
                                      <td>3365</td>
                                      <td>140</td>
                                      <td>3505</td>
                                    </tr>
                                    <tr>
                                      <th>default</th>
                                      <td>671</td>
                                      <td>324</td>
                                      <td>995</td>
                                    </tr>
                                    <tr>
                                      <th>Total</th>
                                      <td>4036</td>
                                      <td>464</td>
                                      <td>4500</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <h5 class='mb-3'>Decision Tree Model</h5>
                            <div class='table-responsive-sm'>
                                <table class="table table-sm">
                                    <thead>
                                      <tr>
                                        <th>Prediction/Acutal</th>
                                        <th>non-default</th>
                                        <th>default</th>
                                        <th>Total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th>non-default</th>
                                        <td>3185</td>
                                        <td>320</td>
                                        <td>3505</td>
                                      </tr>
                                      <tr>
                                        <th>default</th>
                                        <td>634</td>
                                        <td>361</td>
                                        <td>995</td>
                                      </tr>
                                      <tr>
                                        <th>Total</th>
                                        <td>3819</td>
                                        <td>681</td>
                                        <td>4500</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                      </div>
                      <!-- end of the responsive table -->
                  </div>
                  <!--/.Content-->
              </div>
          </div>
          <!-- end of model_step_2-->

          <div class="col-lg-6">
            <a class="portfolio-item" href="#portfolio" data-toggle="modal" data-target="#model_step_3">
              <span class="caption">
                <span class="caption-content">
                  <h1>Step 3: Performance Tracking</h1>
                  <p class="mb-0">Based on the Confusion Matrixes, we evaluate the accuracy of models' prediction</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-3.jpg" alt="">
            </a>
          </div>

          <!-- models_step_3s -->
          <div class="modal fade" id="model_step_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                          <h4 class="modal-title ">Peformance Tracking</h4>
                      </div>
                      <!--Body-->
                      <div class="modal-body">
                          <h3>the accuracy, recall, precision comparsions among models</h3>
                          <img class ='img-fluid' src='img/regression_models.png'>
                          <br/>
                          <div class='table-responsive'>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th></th>
                                    <th>LogisticRegression Model</th>
                                    <th>ClassTree Model</th>
                                    <th>RandomForest Model</th>
                                    <th>NaiveBayes Model</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th>accuracy</th>
                                    <td>0.819778</td>
                                    <td>0.788</td>
                                    <td>0.813111</td>
                                    <td>0.770667</td>
                                  </tr>
                                  <tr>
                                    <th>precision</th>
                                    <td>0.698276</td>
                                    <td>0.530103</td>
                                    <td>0.644737</td>
                                    <td>0.483899</td>
                                  </tr>
                                  <tr>
                                    <th>recall</th>
                                    <td>0.325628</td>
                                    <td>0.362814</td>
                                    <td>0.344724</td>
                                    <td>0.558794</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <h4>Other Metrics</h4>
                            <p>We can see from the graph that at the recall value shown by the stright line, LogisticReg Model is higher value than NavieBayes model.
                                So Logistic is the better model to predict the default as compare to NaiveBayes</p>
                            <img class='img-fluid' src='img/precision-recall-curve.png'>
                            <br/>
                            <img class='img-fluid' src='img/logistic_regression_classifire_precision_Recall_curve.png'>
                            <p>From the above graph, we can see that we can adjust the Recall to be better that Percision by changing the classification threshold.
                                ### Classifier with threshold of 0.2</p>

                      </div>
                      
                  </div>
                  <!--end of Modal Content-->
              </div>
          </div>
          <!-- end of model_step_3-->

          <div class="col-lg-6">
            <a class="portfolio-item" href="#portfolio" data-toggle="modal" data-target="#model_step_4">
              <span class="caption">
                <span class="caption-content">
                  <h1>A quick peek at the coding</h1>
                  <p class="mb-0">Display partical codes to create a ML model</p>
                </span>
              </span>
              <img class="img-fluid" src="img/portfolio-4.jpg" alt="">
            </a>
          </div>
          <!-- models_step_3s -->
          <div class="modal  fade" id="model_step_4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered modal-success" role="document">
                  <!--Content-->
                  <div class="modal-content">
                      <!--Header-->
                      <div class="modal-header">
                          <h2 class="modal-title ">Sample Code</h2>
                      </div>
                      <!--Body-->
                      <div class="modal-body">
                          <h3>Logistic Regression Model Instanization and Training</h3>
                          <pre><code class="hljs" data-trim contenteditable>
# Import the sklearn ML library - Logistic Regression
from sklearn.linear_model import LogisticRegression
# Instance of the estimator
logistic_regression = LogisticRegression(n_jobs=-1, random_state =15)
# train the estimator
logistic_regression.fit(X_train, y_train)

# Evaluate the model
y_pred_test = logistic_regression.predict(X_test)
# we conduct our evaluation using these 3 _score
eval_metrix.loc['accuracy', 'LogisticReg Model']= accuracy_score(y_pred=y_pred_test, y_true=y_test)
eval_metrix.loc['precision', 'LogisticReg Model']= precision_score(y_pred=y_pred_test, y_true=y_test)
eval_metrix.loc['recall', 'LogisticReg Model']= recall_score(y_pred=y_pred_test, y_true=y_test)    

# Confusion matrix for the logistic regression
CM = confusion_matrix(y_pred=y_pred_test, y_true=y_test)
CMatrix(CM)

                                    </code></pre>
                                </div>
                                <!-- end of the responsive table -->
                            </div>
                            <!--/.Content-->
                        </div>
                    </div>
                    <!-- end of model_step_3-->
        </div>
      </div>
    </section>
  
    <section class="content-section bg-primary text-white" id="prediction">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">Predict the result</h3>
            <h2 class="mb-5">Variables we input</h2>

            <!-- prediction button  -->
            <button type="button" class="btn btn-xl btn-light mr-4" data-toggle="modal" data-target="#ModalPredictionInput"> 
              Start a prediction
            </button>
        </div>
        <br>
        <br>
        <div class="content-section-heading text-center">
          <h3 class="text-secondary mb-0">{{ prediction_section_title }}</h3>
            <br>  
            <h3 class='mb-3'>{{ prediction_result }}</h2>
        </div>

 
      <!-- the Modal for Prediction Button -->
        <div class="modal fade" id="ModalPredictionInput" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered modal-success" role="document">
                <!--Content-->
                <div class="modal-content text-primary">
                    <!--Header-->
                    <div class="modal-header">
                        <h2 class="modal-title">Input a New Customer Profile</h2>
            
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>
            
                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-primary">
                              
                            <form class="form" action="/#prediction" method="post" >
                              <div class='form-row'>
                                <div class="form-group col-md-4">
                                  <label for="age" class="col-form-label">Age:</label>
                                  <input name ='age' class="form-control" id="age" placeholder='input the customer age'>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="gender" class="col-form-label">Gender</label>
                                    <select class="custom-select" name='gender' id="gender">
                                        <option selected value=1>Male</option>
                                        <option value=0>Female</option>
                                      </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="ismarried" class="col-form-label">Marital Status</label>
                                    <select class="custom-select" name='ismarried' id="ismarried">
                                        <option selected value="0">Not Married</option>
                                        <option value="1">Married</option>
                                      </select>
                                </div>
                              </div>  
                               <!-- education selection  -->
                                <div class="form-group mx-auto mb-auto">
                                    <label for="education" class="col-form-label">Highest Education Level</label>
                                    <select class="custom-select" name='education' id="education">
                                        <option selected value="1">High School or Below</option>
                                        <option value="2">Unversity or Equvalient</option>
                                        <option value="3">Graducation School</option>
                                      </select>
                                </div>

                                <div class="form-group mx-auto mb-auto">
                                    <label for="cc_limit_balance" class="col-form-label">Credit Card Limit Balance: </label>
                                    <input type="text" class="form-control" name ='cc_limit_balance' id="cc_limit_balance" placeholder='input a value'>
                                </div>
                                <h3 class='mx-auto mb-auto'> Last 6 Mounths Billing and Payment information</h3>
                                <div class="form-group mx-auto mb-auto">
                                    <label for="avg_bill_amt" class="col-form-label" >Average Monthly Billing Amount</label>
                                    <input class="form-control" name ='avg_bill_amt' id="avg_bill_amt" placeholder='input a value'>
                                </div>
                                <div class="form-group mx-auto mb-auto">
                                    <label for="avg_pay_amt" class="col-form-label" >Averge Monthly  Payment Amount</label>
                                    <input class="form-control" name ='avg_pay_amt' id="avg_pay_amt" placeholder='input a value'>
                                </div>
                              <div class='form-row'>
                                  <div class="form-group col-md-4">
                                      <label for="repayment_status" class="col-form-label">Avergage Past Due Status</label>
                                      <select class="custom-select" name='repayment_status' id="repayment_status">
                                          <option value="-2">no consumption</option>
                                          <option selected value="-1">pay on time</option>
                                          <option value="0">the use of revolving credit</option>
                                          <option value="1">payment delay for one month</option>
                                          <option value="2">payment delay for two months</option>
                                          <option value="3">payment delay for three months</option>
                                          <option value="4">payment delay for two months</option>
                                          <option value="5">payment delay for five months</option>
                                          <option value="6">payment delay for six months</option>
                                        </select>
                                  </div>
                                                                
                              </div>
                              <div class="form-group modal-footer justify-content-center">
                                <input type="submit" class="btn btn-dark btn-primary waves-effect" name='submit' >
                              </div>
                              </form>
                        </div>
                    </div>
          
                </div>
                <!--/.Content-->
            </div>
        </div>
          <!-- Central Modal Medium Success-->

    </section>    


    <!-- Map -->
    <section id="contact" class="map content-section">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">About the Program</h3>
            <h2 class="mb-5">USC BootCamp Data Science 2018</h2>
        </div>
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="10" marginwidth="10" 
        src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=McClintock+Ave,+Los+Angeles,+CA&amp;aq=0&amp;oq=Bootcamp USC&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
        <br/>
        <small>
          <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=McClintock+Ave,+Los+Angeles,+CA&amp;aq=0&amp;oq=twitter&amp;sll=4.0235569,-118.2902687&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>

    </section>


    <!-- the team -->
    <section id="team" class="content-section">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">About the team</h3>
            <h2 class="mb-5">Teammates</h2>
 
        </div>
        <ul class ='text-center'>
            <li>Abulla Othow Othuw</li>
            <li>Alexandra Boonsook</li>
            <li>Farai Mungofa</ol>
            <li>Shanakay Brandford</li>
            <li>Stephen Wang</li>
            <li clss='text-primary'>
                <a class="social-link rounded-circle" href="https://usc.bootcampcontent.com/fireproofsocks/fpg4">
                   <i class="fab fa-gitlab"></i> Repository
                </a>    
            </li>            
        </ul>    

    </section>


    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container text-center">
        <p class="text-muted small mb-0">Credit Card Prediction Model created during USC Data Science Bootcamp 2018</p>
      </div>
    </footer>


    <!-- jquery -->
    <script src="vendor/jQuery/jquery.min.js"></script>
    <!-- the d3.js library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    
    <!-- custom scripts to draw D3 visualization charts -->
    <script type="text/javascript" src="js/data_visual_draw.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js"></script>

    <!-- add the reveal.js -->
    <script src="js/reveal.js"></script>

  </body>

</html>
